#pics.transitions-enabled.centered.clearfix.masonry
  - @pics.each do |pic|
    .box.panel.panel-default
      = link_to (image_tag pic.image.url), pic if pic.image
      %h2= link_to pic.title, pic



